/*by suncode*/
@font-face {
    font-family: 'iransansxv';
    src: url('../fonts/iransansx/IRANSansXV.woff') format('woff-variations'),
    /* will be the standard and works in Safari now */
    url('../fonts/iransansx/IRANSansXV.woff') format('woff');
    /* for the other supporting browsers */
    font-display: fallback;
}

@font-face {
    font-family: iransansx;
    src: url('../fonts/iransansx/IRANSansX-Regular.woff') format('woff');
}
@font-face {
    font-family: iransansx;
    src: url('../fonts/iransansx/IRANSansX-Bold.woff') format('woff');
    font-weight: 700;
}
.rtl #wpadminbar * {
    font-family: 'iransansxv', iransansx, tahoma;
}