/*by suncode*/

#elementor-panel-category-studiare .elementor-element-wrapper { position: relative; }
#elementor-panel-category-studiare .elementor-element-wrapper:before {
    content: "studiare";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    font-size: 10px;
    padding: 4px;
    background: #2397f3;
    border-radius: 3px;
    margin: 3px;
    color: #fff;
}
#elementor-panel-category-studiare .elementor-element-wrapper .title-wrapper {
    color: #2397f3;
}

.sun_img_select .elementor-choices {
    display: block;height: auto;
}
.sun_img_select .elementor-choices label.elementor-choices-label {
    height: 35px !important;
    width: 100px !important;
    display: inline-block;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
}
.sun_img_select input:checked+.elementor-choices-label {

    border-color: gold !important;
    border-width: 2px;
}
i.waicon {
    background-image: url(waves.jpg);
    width: 100px;
    height: 35px;
    display: inline-block;
}
i.waicon.waicon1 { background-position: 0 0; } 
i.waicon.waicon2 { background-position: 500px 0; } 
i.waicon.waicon3 { background-position: 400px 0; } 
i.waicon.waicon4 { background-position: 300px 0; } 
i.waicon.waicon5 { background-position: 200px 0; } 
i.waicon.waicon6 { background-position: 100px 0; }

i.waicon.waicon7 { background-position: 0 -35px; }
i.waicon.waicon8 { background-position: 500px -35px; }
i.waicon.waicon9 { background-position: 400px -35px; }
i.waicon.waicon10 { background-position: 300px -35px; }
i.waicon.waicon11 { background-position: 200px -35px; }
i.waicon.waicon12 { background-position: 100px -35px; }

i.waicon.waicon13 { background-position: 0 -70px; }
i.waicon.waicon14 { background-position: 500px -70px; }
i.waicon.waicon15 { background-position: 400px -70px; }
i.waicon.waicon16 { background-position: 300px -70px; }
i.waicon.waicon17 { background-position: 200px -70px; }
i.waicon.waicon18 { background-position: 100px -70px; }

i.waicon.waicon19 { background-position: 0 -105px; }
i.waicon.waicon20 { background-position: 500px -105px; }
i.waicon.waicon21 { background-position: 400px -105px; }
i.waicon.waicon22 { background-position: 300px -105px; }
i.waicon.waicon23 { background-position: 200px -105px; }
i.waicon.waicon24 { background-position: 100px -105px; }

i.waicon.waicon25 { background-position: 0 -140px; }
i.waicon.waicon26 { background-position: 500px -140px; }
i.waicon.waicon27 { background-position: 400px -140px; }
i.waicon.waicon28 { background-position: 300px -140px; }
i.waicon.waicon29 { background-position: 200px -140px; }
i.waicon.waicon30 { background-position: 100px -140px; }

i.waicon.waicon31 { background-position: 0 -175px; }
i.waicon.waicon32 { background-position: 500px -175px; }
i.waicon.waicon33 { background-position: 400px -175px; }
i.waicon.waicon34 { background-position: 300px -175px; }
i.waicon.waicon35 { background-position: 200px -175px; }
i.waicon.waicon36 { background-position: 100px -175px; }

i.waicon.waicon37 { background-position: 0 -210px; }
i.waicon.waicon38 { background-position: 500px -210px; }
i.waicon.waicon39 { background-position: 400px -210px; }
i.waicon.waicon40 { background-position: 300px -210px; }
i.waicon.waicon41 { background-position: 200px -210px; }
i.waicon.waicon42 { background-position: 100px -210px; }

i.waicon.waicon43 { background-position: 0 -245px; }
i.waicon.waicon44 { background-position: 500px -245px; }
i.waicon.waicon45 { background-position: 400px -245px; }
i.waicon.waicon46 { background-position: 300px -245px; }
i.waicon.waicon47 { background-position: 200px -245px; }
i.waicon.waicon48 { background-position: 100px -245px; }

i.waicon.waicon49 { background-position: 0 -280px; }
i.waicon.waicon50 { background-position: 500px -280px; }
i.waicon.waicon51 { background-position: 400px -280px; }
i.waicon.waicon52 { background-position: 300px -280px; }
i.waicon.waicon53 { background-position: 200px -280px; }
i.waicon.waicon54 { background-position: 100px -280px; }

i.waicon.waicon55 { background-position: 0 -315px; }
i.waicon.waicon56 { background-position: 500px -315px; }
i.waicon.waicon57 { background-position: 400px -315px; }
i.waicon.waicon58 { background-position: 300px -315px; }
i.waicon.waicon59 { background-position: 200px -315px; }
i.waicon.waicon60 { background-position: 100px -315px; }

i.waicon.waicon61 { background-position: 0 -350px; }
i.waicon.waicon62 { background-position: 500px -350px; }
i.waicon.waicon63 { background-position: 400px -350px; }
i.waicon.waicon64 { background-position: 300px -350px; }
i.waicon.waicon65 { background-position: 200px -350px; }
i.waicon.waicon66 { background-position: 100px -350px; }

i.waicon.waicon67 { background-position: 0 -385px; }
i.waicon.waicon68 { background-position: 500px -385px; }
i.waicon.waicon69 { background-position: 400px -385px; }
i.waicon.waicon70 { background-position: 300px -385px; }




@font-face {
    font-family: 'iransansxv';
    src: url('../fonts/iransansx/IRANSansXV.woff') format('woff-variations'),
    /* will be the standard and works in Safari now */
    url('../fonts/iransansx/IRANSansXV.woff') format('woff');
    /* for the other supporting browsers */
    font-display: fallback;
}

@font-face {
    font-family: iransansx;
    src: url('../fonts/iransansx/IRANSansX-Regular.woff') format('woff');
}
@font-face {
    font-family: iransansx;
    src: url('../fonts/iransansx/IRANSansX-Bold.woff') format('woff');
    font-weight: 700;
}
div, .rtl .elementor-add-section-drag-title, .rtl .elementor-select-preset-title, [data-editable-elementor-document] .elementor-document-handle__inner, .eui-rtl-1p99bba, .eui-rtl-1i6ejgd, .eui-rtl-dmn1k1, .eui-rtl-1xnojlh, .eui-rtl-14tqbo1, .eui-rtl-cj8eex, .eui-rtl-1q5r91x, .eui-rtl-1n6trzk, .eui-rtl-d5v5rf, .eps-app, .rtl .elementor-add-section-drag-title,.rtl .elementor-select-preset-title,.rtl .elementor-templates-modal .dialog-widget-content,.rtl .elementor-panel,body.rtl,.rtl .elementor-button, .rtl input,.rtl textarea , .rtl .dialog-type-lightbox .dialog-buttons-wrapper>.dialog-button,.rtl .elementor-safe-mode-toast,.rtl .elementor-add-section-drag-title,.rtl button,.rtl .quicktags-toolbar input, .rtl .wp-switch-editor,.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6 {
    font-family: 'iransansxv', iransansx !important;
}
.rtl .elementor-loading-title{
    letter-spacing: 0px;
}

.wp-admin.rtl h1, .wp-admin.rtl h2, .wp-admin.rtl h3, .wp-admin.rtl h4, .wp-admin.rtl h5, .wp-admin.rtl h6,body.wp-admin.rtl {
     font-family: 'iransansxv', iransansx !important;
  font-weight:300;
}
.rtl .customize-control-kirki-switch input + label {
    direction: ltr;
}
.rtl .dashicons, .rtl .dashicons-before:before {
    font-family: dashicons !important;
}
#adminmenu #toplevel_page_elementor div.wp-menu-image:before,#adminmenu #menu-posts-elementor_library .wp-menu-image:before {
    font-family: eicons !important;
}
.elementor-panel .elementor-element .icon > .sc {
    color: #2196F3;
}